/* // @import (reference, multiple) "../variables/global"; */
/* // @import (reference, multiple) "../../../../styles.less"; */

.tabs {
  margin: 20px 20px;
  display: block;
}
.titles {
  display: flex;
  flex-direction: row;
}
.title {
  display: inline-block;
  min-width: 25px;
  font-size: 14px;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
}
.disabled {
  opacity: 0.4;
  cursor: default;
}

.selected {
  color: white;
  border-bottom: 3px solid transparent;
  opacity: 0.7;
  padding-left: 0;
}

.title.selected {
  border-bottom: 3px solid #0082f0;
}

.title:not(.selected) {
  color: #767676;
  border-bottom: solid 3px transparent;
}
.title:hover {
  color: white;
  cursor: pointer;
}

.contents {
  padding: 5px 0;
}
.contents > .content {
  display: none;
  margin-top: 10px;
}
.content.selected {
  display: block;
}
.content.selected h3 {
  font-size: 1.5em;
}
